a:link { text-decoration: none; 
color: blueviolet;
}

a:visited { text-decoration: none;
    color: blueviolet; }


a:hover { text-decoration: italic; 
    color: rgb(47, 5, 87);
    text-decoration: underline;
}

body{
    text-align: center;
    padding-top: 50px;
    background-color: rgb(235, 214, 255);
}

h1,h2{
    color: rgb(47, 5, 87);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

